# Visual Studio workspace and per-user settings
.vs/
*.vcxproj.user

# Visual C++ build artifacts
/SimpleGame/x64/
/x64/Debug/Shaders/
/x64/Release/Shaders/
/Debug/Shaders/
/Release/Shaders/
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
